@import "../../styles.scss";

section{
    width: 1111px;
    background-color: $peach;
    display: flex;
    background-color: url(../../../public/assets/about/desktop/bg-pattern-hero-about-desktop.svg);
    font-family: $font;
    justify-content: space-between;
    border-radius: 15px;
}

.company-history-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;
    margin-left: 6rem;
}

.company-history-title{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 2rem;
    color: $white;
}

.company-history-paragraph{
    color: $white;
}

.company-history-img{
    height: 100%;
}