@import "../../styles.scss";

section{
    width: 100%;
    background-color: $peach;
    height: 640px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    font-family: $font;
    display: flex;
    color: $white;
    background-image: url(../../../public/assets/home/desktop/bg-pattern-hero-home.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.about-main{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 0 4rem;
    margin-left: 5rem;


}

h1{
    font-size: 50px;
    font-weight: 500;
    line-height: 3.5rem;
    margin-bottom: 2.5rem;
}

.about-main-paragraph{
    font-size: 20px;
    margin-bottom: 2.5rem;
}

.about-main-anchor{
    @extend %btn;
}

.about-main-anchor:hover{
    color: $white;
    background-color: $light-peach;
}

.about-main-img{
    position: absolute;
    clear: both;
    right: 0;
    top: 0;

}

@media(width <= 1200px){

    .about-main{
        text-align: center;
        
    }

    .about-main-img{
        left: 50%;
        transform: translate(-50%, 0);
        
    }
}