<section>
    <div class="about-main">
        <h1>Award-winning custom designs and digital branding solutions</h1>
        <p class="about-main-paragraph">
            With over 10 years in the industry, we are experienced in creating fully responsive websites, 
            app design, and engaging brand experiences. Find out more about our services.
        </p>
        <a [routerLink]="['/about']" routerLinkActive="router-link-active" class="about-main-anchor">LEARN MORE</a>
    </div>
    <img src="assets/home/desktop/image-hero-phone.png" alt="" class="about-main-img">
</section>
