@import "../../styles.scss";


section{
    width: 1111px;
    font-family: $font;

}
.contact{
    width: 100%;
    height: 500px;
    background-color: $peach;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background-image: url(../../../public/assets/contact/desktop/bg-pattern-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position:top left;
    padding: 0 6rem 0 6rem;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
}

h2{
    margin-bottom: 3rem;
    color: $white;
    font-size: 40px;
    font-weight: 400;
}

.contact-info-paragraph{
    color: $white;
}

.contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    padding: 0 3rem 0 3rem;
    position: relative;
}

.input-div{
    height: 50px;
    width: 100%;
    margin-bottom: 2rem;
    opacity: 0.7;
}

.input-div:hover, .form-input,  label{
    opacity: 1;
    cursor: pointer;
}

.form-input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
    width: 100%;
    outline: none;
    padding: 10px;
}

label{
    display: block;
    color: $white;
}

.submit{
    position: absolute;
    bottom: 0%;
    right: 5%;
    @extend %btn;
    border: none;
}

@media(width <= 1200px){

    section{
        width: 689px;
    }

    .contact{
        justify-content: center;
        flex-direction:column;
    }
    

}

@media(width <= 700px){
    
}