<section>
    <div class="contact">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p class="contact-info-paragraph">
                Ready to take it to the next level? Let’s talk about your project or idea 
                and find out how we can help your business grow. If you are looking for unique 
                digital experiences that’s relatable to your users, drop us a line.
            </p>
        </div>
        <form action="#" class="contact-form">
            <div class="input-div">
                <label for="name" class="label">Name</label>
                <input type="text" name="name" class="form-input">
            </div>
            <div class="input-div">
                <label for="email" class="label">Email Address</label>
                <input type="text" name="email" class="form-input">
            </div>
            <div class="input-div">
                <label for="phone" class="label">Phone Number</label>
                <input type="text" name="phone" class="form-input">
            </div>
            <div class="input-div">
                <label for="message" class="label">Your Message</label>
                <textarea name="message" id="" class="form-input"></textarea>
            </div>
            <input type="submit" class="submit" value="SUBMIT">
        </form>
    </div>
    <locations-nav></locations-nav> 
</section>