<nav class="nav">
    <div class="logo-div">
        <img src="/assets/shared/desktop/logo-dark.png" alt="Designo Logo">
    </div>

    <div class="hamburger-div">
        <img src="assets/shared/mobile/icon-hamburger.svg" alt="icon hamburger">
    </div>
    <div class="links-div">
        <ul class="links-list">
            <!--Fix the routing link-->
            <a routerLink="home" class="links">OUR COMPANY</a>
            <a href="" class="links">LOCATIONS</a>
            <a href="" class="links">CONTACT</a>
        </ul>
    </div>
</nav>
