<footer>
    <div class="contact-div">
        <div class="info">
            <h2>Let's talk about your project</h2>
            <p class="info-paragraph">
                Ready to take it to the next level? Contact us today and find out how
                our expertise can help your business grow.
            </p>
        </div>
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="get-in-touch-btn">GET IN TOUCH</a>
    </div>

    <div class="footer-div">
        <div class="under-nav">
            <div class="logo-div">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active"> <img src="/assets/shared/desktop/logo-light.png" alt="Designo Logo"></a>
            </div>
            <div class="links-div">
                <ul class="links-list">
                    <a [routerLink]="['/about']" routerLinkActive="router-link-active" class="links">OUR COMPANY</a>
                    <a [routerLink]="['/locations']" routerLinkActive="router-link-active" class="links">LOCATIONS</a>
                    <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="links">CONTACT</a>
                </ul>
            </div>
        </div>
        <div class="br"></div>
        <div class="company-info">
            <div class="address-div">
                <p class="office-info">
                <span><b>Designo Central Office</b></span> 
                <span>3886 Wellington Street</span>
                <span>Toronto, Ontario M9C 3J5</span> 
                </p>
            </div>
            <div class="office-contact">
                <p class="office-info">
                <span>Contact Us (Central Office)</span>
                <span> P:+1 253-863-8967</span> 
                <span>M : contact&#64;designo.co</span>
                    
                </p>
            </div>
            <div class="social-media-div">
                <a class="social-media-link">
                    <img src="/assets/shared/desktop/icon-facebook.svg" alt="Facebook icon" class="social-media-img">
                </a>
                <a class="social-media-link">
                    <img src="/assets/shared/desktop/icon-youtube.svg" alt="Youtube icon" class="social-media-img">
                </a>
                <a class="social-media-link">
                    <img src="/assets/shared/desktop/icon-twitter.svg" alt="Twitter icon" class="social-media-img">
                </a>
                <a class="social-media-link">
                    <img src="/assets/shared/desktop/icon-pinterest.svg" alt="Pinterest icon" class="social-media-img">
                </a>
                <a class="social-media-link">
                    <img src="/assets/shared/desktop/icon-instagram.svg" alt="Instagram icon" class="social-media-img">
                </a>
            </div>
        </div>
    </div>
    
</footer>
