
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/*Color*/

$peach: #E7816B;
$light-peach: #FFAD9B;
$black: #1D1C1E;
$dark-grey: #333136;
$white: #FFFFFF;
$light-grey: #f5e3df;
$contat-div-height: 379px;

/*Typography*/
$font:  "Jost", serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
}

%btn{
    height: 56px;
    width: 152px;
    background-color: $white;
    border-radius: 10px;
    text-decoration: none;
    color: $black;
    font-family: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: .5s ease-in;
}

%about-section-subtitle{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 3rem;
    color: $peach;
}

%about-section{
    width: 1111px;
    margin-bottom: 8rem;
    background-color: $light-grey;
    display: flex;
    font-family: $font;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}