<section>
    <div class="banner">
        <h1></h1>
        <p class="banner-paragraph"></p>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="" alt="">
        </div>
        <div class="card-info">
            <h2 class="card-title"></h2>
            <p class="card-paragraph">

            </p>
        </div>
    </div>
    <div class="designs">
        <div class="design-type">
            <div class="hover-div"></div>
            <h2 class="design-title"></h2>
            <p class="design-paragraph"> <span>&gt;</span></p>
        </div>
    </div>
</section>
